*,
body {
  margin: 0px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  justify-content: center;
}

.header {
  font-size: 5.5rem;
  background-color: lightgrey;
  align-content: center;
  margin-bottom: 30px;
}

.game-container {
  display: flex;
}

.choice-container {
  text-align: center;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  padding: 70px;
  flex-direction: row;
  justify-content: center;
}
.image {
  width: 150px;
  height: 150px;
}

.computer {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 8px solid grey;
  background-color: black;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.rock,
.paper,
.scissors {
  margin: 20px;
  cursor: pointer;
  border-radius: 50%;
  /* border: 8px solid black; */
  width: 150px;
  height: 150px;
}

.rock {
  border: 8px solid black;
}

.paper {
  border: 8px solid grey;
  /* background-color: white; */
}

.scissors {
  border: 8px solid lightblue;
}

.rock:hover,
.paper:hover,
.scissors:hover {
  opacity: 0.7;
}

.output-message {
  padding: 50px;
}
